/*---------------------------------------
    ## Button
---------------------------------------*/
.btn {
    height: 55px;
    line-height: 55px;
    padding: 0 35px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    font-size: 16px;
    @include transition(all, 0.5s, ease);
    font-weight: 600;
    border-radius: 4px;
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
    }
}
.btn-base {
    color: #fff;
    background:  var(--main-color);
    &:hover,
    &:focus {
        color: #fff;
        background:  #5C61EF;
    }
}
.btn-base-m {
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(90deg, var(--c1, #6F73EF), var(--c2, #CD40FF) 51%, var(--c1, #6F73EF)) var(--x, 0)/ 200%;
}
.btn-base-m:hover { 
    --x: 100%; 
    color: #fff;
}

.btn-border-base {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    &:hover,
    &:focus {
        color: #fff;
        background: var(--main-color);
    }
}
.btn-white {
    color: var(--main-color);
    background: #fff;
    &:hover,
    &:focus {
        background: #EBE8E8;
        color: var(--main-color);
    }
}
.btn-white-border {
    color: #fff;
    border: 1px solid #fff;
    &:hover,
    &:focus {
        background: #fff;
    }
}



/*------------------------------------------------
    ## Section title
------------------------------------------------*/
.section-title {
    margin-bottom: 56px;
    position: relative;
    h2 {
        font-size: 48px;
        position: relative;
    }
    p {
        padding-top: 4px;
        font-size: 18px;
        margin-bottom: 0;
    }
    h6 {
        font-size: 20px;
        color: var(--main-color);
    }
    .btn {
        margin-top: 32px;
    }
    &.style-white {
        h2 {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
}


/*------------------------------------------------
    ## Back Top
------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 44px;
    height: 44px;
    color: $color-white;
    background-color: var(--main-color);
    text-align: center;
    line-height: 44px;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    animation: backto-top-bounce 4s infinite ease-in-out;
}
@-webkit-keyframes backto-top-bounce {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); } 
}

@keyframes backto-top-bounce {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-5px); } 
}


/*-----------------------------------------
    ## Preloader Css
-------------------------------------------*/
.pre-wrap{
    position: fixed;
    content: '';
    transform: translate(-100%, -240%);
    font-size:62px;
}
.preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999;
    background-color: #030724;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .cancel-preloader{
        position: absolute;
        bottom: 30px;
        right: 30px;
       a{
            background-color: $color-white;
            font-weight: 600;
            text-transform: capitalize;
            color: var(--main-color);
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 30px;
            display: block;
            @include transition(all, 0.4s, ease);
            &:hover{
                background-color: var(--heading-color);
                color: $color-white;
            }
       }
    }
}
.spinner {
  margin: 120px auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--main-color);
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*-----------------------------------------
    ## Breadcumb 
------------------------------------------*/
.video-play-btn {
    border-radius: 50%;
    background: rgb( 247, 247, 247 );
    width: 90px;
    height: 90px;
    display: inline-block;
    line-height: 100px;
    position: relative;
    z-index: 0;
    text-align: center;
    animation: ripple-white3 2.5s linear infinite;
    &:after {
        z-index:-1;
        content:'';
        position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: rgba(247, 247, 247, 0.4);
        top: -10px;
        left: -10px;
    }
    i {
        color: #585858;
        margin-left: 6px;
        font-size: 28px;
    }
    &.video-play-border {
        background: transparent;
        border: 2px solid #fff;
        height: 60px;
        width: 60px;
        line-height: 60px;
        &:hover {
            background: #fff;
            i {
                color: var(--main-color);
            }
        }
        i {
            color: #fff;
            font-size: 20px;
            margin-left: 3px;
        }
        &:after {
            display: none;
        }
    }
}



/*-----------------------------------------
    ## Breadcumb 
------------------------------------------*/
.breadcrumb-area {
    padding: 186px 0 112px; 
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 100, 0));
        height: 65%;
        @include transition(all, 0.6s, ease);
        z-index: 0;
        opacity: 0.5;
    }
    .breadcrumb-inner {
        position: relative;
        z-index: 2;
    }
    .page-title {
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 15px;
        color: $color-white;
    }
    .page-list {
        margin: 0;
        padding: 0;
        color: $color-white;
        li {
            font-size: 16px;
            font-weight: 200;
            list-style: none;
            display: inline-block;
            position: relative;
            padding-left: 8px;
            &:after {
                position: absolute;
                left: 0;
                top: 1px;
                content: "/";
                font-family:'fontawesome';
            }
            &:first-child {
                padding-left: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

/********* social-media *********/
.social-media {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
    li {
        display: inline-block;
        margin: 0 3px;
        a {
            height: 55px;
            width: 55px;
            line-height: 56px;
            text-align: center;
            border-radius: 5px;
            font-size: 18px;
            color: #fff;
            display: inline-block;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        .facebook {
            background: $facebook;
        }
        .twitter {
            background: $twitter;
        }
        .instagram {
            background: $instagram;
        }
        .youtube {
            background: $youtube;
        }
        .pinterest {
            background: $pinterest;
        }
    }
}

/********* slider-control *********/
.slider-control-round {
    .owl-nav {
        button {
            height: 40px;
            width: 40px;
            line-height: 40px;
            margin: 0 8px;
            border-radius: 50%;
            border: 1px solid var(--main-color);
            transition: 0.4s;
            box-shadow: none;
            color: var(--main-color);
            background: transparent;
            padding: 0;
            cursor: pointer;
            &:hover {
                background: var(--main-color);
                color: #fff;
            }
        }
        .owl-prev {
            margin-left: 0;
        }
        .owl-next {
            margin-left: 0;
        }
    }
}

.slider-control-square {
    .owl-nav {
        button {
            height: 45px;
            width: 60px;
            line-height: 46px;
            margin: 0 8px;
            border-radius: 0;
            border: 1px solid var(--main-color);
            transition: 0.4s;
            box-shadow: none;
            color: var(--main-color);
            background: transparent;
            font-size: 20px;
            padding: 0;
            cursor: pointer;
            &:hover {
                background: var(--main-color);
                color: #fff;
            }
        }
        .owl-prev {
            margin-left: 0;
        }
        .owl-next {
            margin-left: 0;
        }
    }
}

/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/
.ratting-inner {
    color: #FFC107;
}
.bg-gradient {
    position: relative;
    &:after {
        content: '';
        background: linear-gradient(to bottom, #CD40FF 0%, #6F73EF 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s;
    }
}
.bg-gray {
    background: #F9F9F9;
}
.bg-relative {
    position: relative;
}
.bg-cover {
    background-size: cover !important;
}


.pd-top-60 {
    padding-top: 60px;
}
.pd-top-80 {
    padding-top: 80px;
}
.pd-top-90 {
    padding-top: 90px;
}
.pd-top-100 {
    padding-top: 100px;
}
.pd-top-110 {
    padding-top: 110px;
}
.pd-top-120 {
    padding-top: 120px;
}
.pd-top-135 {
    padding-top: 135px;
}
.pd-top-140 {
    padding-top: 140px;
}
.pd-top-150 {
    padding-top: 150px;
}
.mg-top-120 {
    margin-top: 120px;
}
.mg-top-160 {
    margin-top: 160px;
}


.pd-bottom-70 {
    padding-bottom: 70px;
}
.pd-bottom-80 {
    padding-bottom: 80px;
}
.pd-bottom-90 {
    padding-bottom: 90px;
}
.pd-bottom-100 {
    padding-bottom: 100px;
}
.pd-bottom-110 {
    padding-bottom: 110px;
}
.pd-bottom-120 {
    padding-bottom: 120px;
}
.pd-bottom-150 {
    padding-bottom: 150px;
}